<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="schilkroete.sammlung">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ToastNachWunscheingabe"
            android:label="@string/btn_toastNachWunscheingabe">
        </activity>

        <activity
            android:name=".ImageEinbindenUndAendern"
            android:label="@string/btn_imageEinbindenUndAendern">
        </activity>

        <activity
            android:name=".AnimationVerblassung"
            android:label="@string/btn_animationVerblassung">
        </activity>

        <activity
            android:name=".TicTacToe"
            android:label="@string/btn_ticTacToe">
        </activity>

        <activity
            android:name=".AlertDialog"
            android:label="@string/btn_alertDialog">
        </activity>

        <activity
            android:name=".Progressbar"
            android:label="@string/btn_progressbar">
        </activity>

        <activity
            android:name=".CheckNetzwerkverbindung"
            android:label="@string/btn_checkNetzwerk">
        </activity>

        <activity
            android:name=".DatePicker"
            android:label="@string/btn_datePicker">
        </activity>

        <activity
            android:name=".SwipeSide"
            android:label="@string/btn_swipeSide">
        </activity>
        <activity
            android:label="Links"
            android:name=".SwipeSideLeft">
        </activity>
        <activity
            android:label="Rechts"
            android:name=".SwipeSiteRight">
        </activity>
        <activity
            android:label="ListView"
            android:name=".ListView">
        </activity>
        <activity
            android:label="Timer"
            android:name=".Timer">
        </activity>


    </application>

</manifest>